<div class="section head">
  <div class="corset full">
    <%= yield :headline %>
  </div>
</div>

<div class="section">
  <div class="corset full">
        
        <%= body %>

        <br/>
        <br/>
    
  </div>
</div>

<br/>
<br/>




